<!-- You will attach an ng-model and an ng-submit to your forms (but might want to wait until the next tab, when you have your controllers and factory) -->
<!-- table1 -->
<!-- <div ng-controller="CustomizeUsersController"> -->
<h1>new</h1>
  <form ng-submit="create()">
    <input type='text' ng-model='newfriend.firstname'>firstname<br><br>
    <input type='text' ng-model='newfriend.lastname'>lastname<br><br>
    <input type='text' ng-model='newfriend.birthday'>birthday<br><br>
    <input type='submit' value='Create'><br><br>
  </form>
